.root {
-fx-background-color:#12372A;
}
.choice-box .context-menu { -fx-background-color:#436850; }
.choice-box .menu-item:focused { -fx-background-color:#ADBC9F; }
.choice-box .menu-item > .label { -fx-text-fill:#ADBC9F; }
.choice-box .menu-item:focused > .label { -fx-text-fill:#436850; }
.choice-box {
  -fx-background-color:#436850;
  -fx-mark-color:#ADBC9F;
}
.choice-box > .label { -fx-text-fill:#ADBC9F; }